{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <section class="py-5 bg-light">
        <div="header">
            <header_title>
               <img class="img-fluid" alt="100%x280" src="{% static 'img1/logo3.png'' %}" id='logo'>
               <h1>Utilisez les bases de Python pour l'analyse de Marché</h1>
            </header_title>
            <banner>
                <img class="img-fluid" alt="100%x280" src="{% static 'img1/header.png'' %}">
            </banner>
        </div>
    </section>
</div>
<div class="container">
    <section class="py-5 bg-light">
        <h3>Objectifs du projet</h3><br>
        <hr>

            <p>Vous êtes analyste marketing chez Books Online, une importante librairie
                en ligne spécialisée dans les livres d'occasion. Dans le cadre de vos fonctions,
                vous essayez de suivre manuellement les prix des livres d'occasion sur les sites web de vos concurrents.
                Cela représente trop de travail et vous n'arrivez pas à y faire face :
                il y a trop de livres et trop de librairies en ligne !
                Vous et votre équipe avez décidé d'automatiser cette tâche laborieuse via un programme (un scraper) développé en Python,
                capable d'extraire les informations tarifaires d'autres librairies en ligne.</p>
            <p> L'objectif est de développer une version bêta de ce système pour suivre les prix des livres
                chez Books to Scrape, un revendeur de livres en ligne.</p>
                
            
    </section>
    <hr>
</div>

<div class="container">
    <section class="py-5 bg-light">
    <p>Au Sommaire:</p>
    <p>- Apprenez les bases du langage Python<br>
    - Initiez vous à Python pour l'analyse de données<br>
    - Apprenez à utiliser la ligne de commande dans un terminal<br>
    - Mettez en place votre environnement Python<br>
    - Prenez la parole en public<br>
    - Gerez du code avec Git et Github<br>
    </section>
    <hr>
</div>
<div class="container">
<h4>Apprenez les bases du langage Python</h4>
<p>Revue des principales fonctionnalités de base du langage Python:<br>
- Variables, Strings<br>
- Listes<br>
- Conditions<br>
- Boucles<br>
- Fonctions<br>
- Données complexes avec 'Dictionnaire'<br>
- Ouverture et fermeture des fichiers et leurs mode de lecture et d'écriture.<br>
- Extraction des données (ETL: Extract Transform Load)<br>
- Utilisation des méthodes 'writer', 'DictReader' du package CSV pour faciliter le traitement des fichiers '.csv'.<br>
- éthique et la confidentialité concernant l'extraction des données de sites web.</p>

<h5>Un peu de pratique:</h5>

<p>Utilisation du package Requests et de la fonction get() pour extraire les données Html.<br>
Exemple:
<img src="{% static 'img1/code1.png' %}" alt="capture_code1" width="25%"></p>
<p>A l'aide de Beautifulsoup qu'il faut installer, il est possible de parser le contenu de 'page'.<br>
<img src="{% static 'img1/code3.png' %}" alt="capture_code3" width="25%"></p>
<img src="{% static 'img1/code4.png' %}" alt="capture_code4" width="35%"></p>
<p>Nous pouvons dorénavant trouver tous les éléments avec la balise <'a'><br>
<img src="{% static 'img1/code2.png' %}" alt="capture_code2" width="35%"></p>
<hr>

<h4>Initiez vous à Python pour l'analyse de données</h4>
<p>
- variables<br>
- fonctions<br>
- Approche programmation objet<br>
- tableaux<br>
- structures conditionnelles<br>
- choix de la boucle adéquate<br>
- prise en main des modules et librairies Python<br>
- module random<br>
</p>
<h5>Exemples choix boucles:</h5>
- boucle while
<p><img src="{% static 'img1/code5.png' %}" alt="capture_code5" width="50%"></p>
<p><img src="{% static 'img1/code6.png' %}" alt="capture_code6" width="25%"><br>
Attention aux boucles infinies.</p>
- boucle for
<p><img src="{% static 'img1/code7.png' %}" alt="capture_code7" width="30%"></p>
<hr>
<h4>Apprenez à utiliser la ligne de commande dans un terminal</h4>
<p>Exemples:<br>
- pwd: affiche le répertoire courant.<br>
- ls:  liste les dossiers et fichiers du répertoire<br>
- ls -la : même sortie mais avec les répertoires et fichiers cachés, avec en plus les droits sur ces fichiers.<br>
- mkdir 'rep': pour créer le répertoire 'rep'<br>
- touch 'file': pour créer un fichier 'file'<br>
- et d'autres comme mv, cp, rm, man, grep, cat...</p>
<hr>

<h4>Mettez en place votre environnement Python</h4>
<p>
- installation d'un environnement virtuel avec la commande:</p>
<p><img src="{% static 'img1/code8.png' %}" alt="capture_code8" width="30%"></p>
<p>Une fois l'environnement créé, nous pouvons installer des packages avec pip dans le répertoire de notre application.<br>
Il suffira à présent d'importer le package dans notre code avec la syntaxe: import 'package_installé'.<br>
ex: 'import os'<br>
<p>- versionning<br>
- permutations entre environnements<br>
- récupérations des packages dans requirements.txt
- activation, deactivation, suppression
- découverte pycharm</p>
<hr>
<h4>Prenez la parole en public</h4>
<p>Ce châpitre a pour but d'acquérir et de révéler des compétences d'orateur et du 'storytelling'.<br>
Au Menu:<br>
- Objectif de la prise de parole.<br>
- art du 'storytelling'<br>
- structuration du contenu<br>
- maitrise du langage corporel<br>
- gommage des défauts du langage verbal<br>
- points faibles points forts<br>
- expression en conférence, en classe, en entreprise, devant caméra<br>
- expression en embauche<br>
- puiser dans l'inspiration<br>
<hr>
<h4>Gerez du code avec Git et Github</h4>
<h5>Git est un gestionnaire de versions</h5>
<p>C'est un programme qui permet aux développeurs de conserver un historique des modifications et des versions de tous leurs fichiers.<br>
Cet outil a donc trois grandes fonctionnalités :<br>
    - Revenir à une version précédente de votre code en cas de problème.<br>
    - Suivre l’évolution de votre code étape par étape.<br>
    - Travailler à plusieurs sans risquer de supprimer les modifications des autres collaborateurs.</p>
<h5>Dépot distant</h5>
<p>Création d'un compte sur Git Hub et paramètrages sécurités, et ajouter le new repository.</p>
<h5>Dépot local</h5>
<p>Télécharger et installer Git en local.<br>
Puis configurer Git:</p>
<p><img src="{% static 'img1/git1.png' %}" alt="git1" width="30%"></p>
<p>Principe de fonctionnement:<br>
<p><img src="{% static 'img1/git2.png' %}" alt="git2" width="30%"></p>
<p>Le Working directory<br>
Cette zone correspond au dossier du projet sur votre ordinateur.<br>
<p>Le Stage ou index<br>
Cette zone est un intermédiaire entre le working directory et le repository.<br>
Elle représente tous les fichiers modifiés que vous souhaitez voir apparaître dans votre prochaine version de code.</p>
<p>Le Repository<br>
Lorsque l’on crée de nouvelles versions d’un projet, elles sont stockées dans le repository.<br>
Avant de faire un push sur Git hub, il est indispensable de créer un fichier '.gitignore'<br>
dans lequel nous ajouterons les fichiers que nous ne voulons pas envoyer.<br>
Puis créer le lien avec Git Hub après avoir initialisé les clés (SSH, HTTPS, GPG)<br>
En remplaçant votre nom Git et nom Projet.<br>
<p><img src="{% static 'img1/git3.png' %}" alt="git3" width="50%"><br>
<img src="{% static 'img1/git4.png' %}" alt="git4" width="15%"><br>
<img src="{% static 'img1/git5.png' %}" alt="git5" width="18%"><br>
Enfin pusher les fichiers en 3 étapes:<br>
- git add .<br>
- git commit -m "commentaire"<br>
- git push<br>
Le commentaire est important pour retrouver facilement l'évolution des dépots.<br>
<p>L'intérêt de Git est également de créer plusieurs branches'</p>
<p>- git branch nouvelle branche<br>
- git checkout nouvelle branche(ex: develop)<br>
Le code peut continuer à évoluer dans la nouvelle branche, puis être 'mergé' dans une autre branche<br>
Ex: 'git checkout branche main'<br>
'git merge develop'</p>
<p>Il est également possible de rapatrier et travailler sur un projet Git avec la commande fork.<br>
Le développment local peut alors progresser et mis à soumissions sur le projet original avec<br>
une 'pull request' effectué depuis Git hub.</p>
<p>Bien d'autres commandes peuvent aussi être réalisées avec Git comme des corrections en local ou distant.</p>
</div>

{% endblock content %}