{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <img class="img-fluid" alt="100%x280" src="{% static 'img10/banner.png' %}">
        <p>Tu es Page 10 flow</p>
        <div class="article">
        <h3>Epic Events</h3>
        <h5>Vous allez monter en compétences en développement back-end et réaliser des bases de données relationnelles avec SQL.
            Vous assurerez la sécurisation et l’authentification du back-end.
    Dans ce projet, vous créerez l’architecture back-end et la mise en œuvre
            d’une base de données sécurisée et de mécanismes d'authentification robustes.
    Vous vous plongerez aussi dans la modélisation de données relationnelles (ERD) et
            dans l'utilisation d'outils comme Sentry pour la journalisation et le suivi des erreurs. </h5>
    <p>Notre objectif principal est de mettre en place une base de données qui permette
        de stocker et de manipuler de manière sécurisée les informations de nos clients,
        ainsi que les contrats et les événements que nous organisons.
        Tu as travaillé sur notre site web qui utilise Django ;
        nous souhaitons également utiliser Python pour notre système CRM.
        Et nous attendons la journalisation avec Sentry, bien sûr !</p>
        </div>
    </section>
</div>
<div class="container">
    <section class="py-5 bg-light">
        <div class="article">
        <h2>Developpement d'une architecture back-end sécurisée avec Python et SQL</h2>
            <div class="row">
                <p><a href="https://github.com/lou57810/EpicEvents">Lien vers le repo EpicEvents: </a></p>
                <div class="col">
                <p>L'objectif est de mettre en pratique une solution de CRM (Customer Relationship Management), dans le cadre d'une entreprise de conseil et de gestion dans l'évenementiel, ayant pour but l'organisation de "Fêtes épiques." pour de jeunes Startups.</p>
                    <p>Plus précisément, il s'agit de configurer un programme exécuté en python, associé à une base de données SQL (Structured query language), (ici j'ai utilisé Mysql), pour répondre à ces besoins.</p>

                </div>
                <div class="col">
                    <p>Epic Events le commanditaire, souhaite élaborer un système permettant de traiter les contrats, les évènements et les données des clients de façon sécurisée. Une journalisation avec Sentry est égalememnt requise.</p>
                    <p>Initialisation du projet comme souhaité dans README.md:</p>
                    <p>La recommandation est de définir ses propres variables dans un fichier .env selon le modèle env_template. Cette façon de procéder permet de facilement changer ces variables, sans affecter le comportement du programme.</p>
                    <p>L'implémentation du programme se fait selon le modèle MVC (Modèle, View, Controller)</p>

                </div>
                <div class="col">
                    <p>Le point d'entrée se fait avec main.py</p>
                    <p>main.py redirige vers la classe StartMenuController:
                    <p>StartMenuController appelle start_menu_view(), qui renvoie vers le menu d'entrée.</p>
                    <p>A ce stade le programme est démarré et nous conduit au menu principal:</p>
                    <p>L'initialisation se réalise comme spécifié dans le README: La base de donnée est crée, ainsi que l'utilisateur root.</p>
                </div>
            </div>
            <div class="row">
                <h3>Empêcher les injections SQL:</h3>
                <p>L'injection SQL compte parmi les attaques les plus redoutables et figure au top 10 de l'OWASP(N°3) (Open Web Application Security Project).</p>
                <p>Le but est de sécuriser et rendre  une application crédible.</p>
                <div class="row">
                    <p>1. Usage de la dernière version de sqlalchemy:</p>
                    <p>Sqlalchemy (Depuis 2006) est un toolkit opensource SQL et dispose d'une librairie ORM (Object Relational Mapping) écrite en Python.</p>
                    <p>Sqlalchemy utilise le pattern DataMapper: Les SQL utilisent différents mechanismes entre les modèles Objets, les logiques de fonctionnement(business logics) et les bases de données.</p>
                    <p>Les schemas objets, et les schemas relationnels ne correspondent pas. Les objets en mémoire, entrent en collision avec la structure de la base de donnée.</p>
                    <p>DataMapper constitue une couche programme, qui sépare les objets en mémoire de la base de donnée. Sa responsabilité est de les isoler l'une de l'autre, tout en transférant les données entre elles.</p>
                    <p>Les objets en mémoire n'ont pas connaissance d'une éventuelle présence de base de donnée. Ils n'ont pas besoin d'un code d'interface SQL et encore moins connaissance du schema de la base de données.</p>
                    <p>Réciproquement, la base de données n'a aucune idée des objets qui l'utilisent.Le mapping s'éffectue de façon invisible.DataMapper est lui-même inconnu de la couche Domain.</p>
                </div>
                <div class="col">
                    <p>2. Aucun nom d'utilisateur ne doit figurer dans le programme, d'ou l'implémentation du fichier .env qui doit être similaire à env_template
                        et contenir toutes les valeurs à renseigner.</p>
                </div>
                <div class="col">
                    <p>3. Utilisation de MySQL, qui est une SGBD sécurisée.</p>
                </div>
                <div class="col">
                    <p>4. Les collaborateurs sont dirigés vers leur menus respectifs.</p>
                </div>
                <div class="col">
                    <p>5. De surcroit, les permissions sont systématiquements vérifiées en fonction du role collaborateur.</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}