{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <div="header">
            <header_title>
               <img class="img-fluid" alt="100%x280" src="{% static 'img11/logo.png'' %}" id='logo'>
               <h1>Mettez à l'echelle une application Django en utilisant une architecture modulaire</h1>
            </header_title>
            <banner>
                <img class="img-fluid" alt="100%x280" src="{% static 'img11/banner.png'' %}">
            </banner>
        </div>
    </section>
</div>

<section class="py-5 bg-light">
    <!-- <img class="img-fluid" alt="100%x280" src="{% static 'img11/banner.png' %}">-->
    <h1 class="text-center">Projet 11</h1>
    <div class="article">
        <div class="container">
            <h3>Rappel des objectif:</h3>
                <h5>Fork et Clone de l'application.</h5>
                <h5>Lancement et test de l'application en local.</h5>
                <h5>Réalisation d'une structure MVT pour l'application. Cela implique de modifier<br>
                    les fichiers de models et migrations et de copier les données vers de nouvelles tables.
                    Nous devons obtenir 3 appliactions: oc_lettings_site, profiles, et lettings.<br>
                </h5>
                <h5>L'application doit être fonctionnelle et autoriser l'accès à la partie admin.<br>
                    (admin et pass: Abc1234!)</h5>
                <h5>Installation de pytest-django pour réaliser les test à l'aide de pytest. La couverture<br>
                     devra être supérieure à 80%.</h5>
                <h5>En tant que développeur Python dans ce projet, vous utiliserez des outils comme :
                    Sentry pour surveiller l'application et détecter rapidement les erreurs ;
                    Read The Docs pour documenter l'utilisation de l'application ;
                    Github, Github compose, GitHub Actions ou GitLab pour les pipelines CI/CD
                    qui automatisent les tests et le déploiement.
                    Vous allez ajouter une démarche essentielle :
                    la factorisation d’une application existante pour améliorer sa maintenabilité, sa performance et sa scalabilité.
                    Vous identifierez et corrigerez les points faibles du code pour en améliorer la performance.
                </h5>
            <h4>Les Etapes</h4>
                <h6>Documenter une application<br>
                    Mettre en place un système de contrôle des codes en utilisant Sentry<br>
                    Deployer une application<br>
                    Gèrer la production de code en utilisant la méthodologie CI/CD<br>
                    Refactoriser une application pour réduire la dette technique<br>
                    Appliquer une architecture modulaire dans une application Python
                </h6>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <p>Dans ce projet, il est avisé d'utiliser github comme VCS(Version Control System),
           conjointement avec docker, circleci, ainsi que gunicorn et render.
           Celà nécéssite l'installation de docker, puis la création d'un fichier Dockerfile.
           Tout ceci demande de s'enregistrer sur docker hub, circleci, et render.
           Circleci requiert la creation d' un fichier config.yml.
           Idem pour Docker, il faut créer un fichier Dockerfile.
           Il faut paramètrer Render pour diffuser le déploiement de
           notre application.
           Le principe est d'utiliser une plateforme d'intégration continue pour mettre en oeuvre les pratiques DevOps.
           Pour ce projet, comme indiqué dans les requis nous utilisons CircleCi,
           plateforme CI/CD d'intégration continue et de livraison continue.
           CircleCI surveille les référentiels GitHub, et d'autres, et lance des builds pour chaque nouveau commit.
           CircleCi teste automatiquement les builds dans les conteneurs Docker ou les machines virtuelles, et déploie les
           builds de passage vers les environnements cibles. Un tableau de bord et une API permettent de suivre l'état des builds
           et les métriques liées aux builds. Au besoin, une intégration Slack informe les équipes en cas de problèmes.
        </p>
        <p>La prise en charge de SSH permet d'exécuter des tâches localement, et des mesures de sécurité empêchent la falsification.
           CircleCi propose également une fonction d'approbation du flux de travail, qui met en pause le(s) jusqu'à ce qu'une
           approbation manuelle soit donnée.
        </p>
    </div>
</section>
<section>
    <div class="container">
        <h2>Docker</h2>
        <h4>Un conteneur Linux est un processus ou un ensemble de processus isolés du reste du système, tout en étants légers.</h4>
        <p>Il ne crée qu'une isolation des processus, et partage les ressources avec le système hôte.<br>
           En pratique le processus n'utilisera que la RAM nécéssaire laissant le reste disponible pour d'autres processus.<br>
           Les conteneurs étant légers et rapides au démarrage, il permettent de créer des environnements dynamiques et ainsi répondre à des besoins métiers.</p>
        <p>Docker a été créé pour répondre à des besoins de PaaS (Platform as a Service)</p>
        <img class="img-fluid" alt="100%x280" src="{% static 'img11/vm-vs-conteneur_small.png' %}">
        <p>Docker Hub est un service fourni par Docker Inc ; vous pouvez le comparer à GitHub,
           mais spécialisé dans le stockage d'image pour Docker.</p>
        <h4>Installer Docker</h4>
        <p>Pour utiliser Docker sur Windows Pro, il faudra télécharger la version stable de docker(# "edge" pour la version testing), l'installer, <br>
            et s'enregistrer, en rendant sur Docker hub (https://hub.docker.com/)<br>
        <h4>Gunicorn</h4>
        <p>Gunicorn, pour « Green Unicorn » (Licorne Verte), est un serveur web HTTP WSGI écrit en Python et disponible pour Unix.<br>
           Pour utiliser gunicorn on l'ajoute dans le Dockerfile.(CMD ["gunicorn", "--bind", "0.0.0.0:8000", "oc_lettings_site.wsgi:application"])</p>

        <h4>Création du Dockerfile</h4>
        <p>Dockerfile doit être créé dans la racine du projet.
           C'est un document texte, utilisé pour la création d'une image conteneur(container).</p>
           <img class="img-fluid" alt="dockerfile" src="{% static 'img11/docker_file.png' %}">
           <img class="img-fluid" alt="dockerfile" src="{% static 'img11/doc_file.png' %}">
        <p>Nous devons également créer un fichier .dockerignore afin d'alléger le build.</p>

        <h4>Création du build localement:</h4>
        <p>J'ai nommé le build oc-lettings-site-build dans le projet13,<br>
            et la commande sera <code>docker build -t YOUR_USERNAME/oc-lettings-site-build</code> .<br>
        <p>Pour le projet portfolio je la nommerai par exemple portfolio-dock-build.<br>
        La commande sera <code>docker build -t YOUR_USERNAME/portfolio-dock-build</code> .
        Docker va alors créer un conteneur pour chaque instruction,<br>
        et le résultat sera sauvegardé dans une layer.<br>
        Le résultat final étant un ensemble de layers qui construisent une image Docker complète.<br>
        Si une layer ne bouge pas entre deux builds, Docker ne la reconstruira pas.<br>
        Seules les layers situées après une layer qui se reconstruit seront elles aussi reconstruites.</p>
        <h4>Lancement du build:</h4>
        <p>Pour lancer le conteneur la commande sera : <code>docker run -d -p 8000:8000 oc-lettings-site-build</code><br>
        '-p 8000' pour le port utilisé par l'application django, -d pour le mode détaché.<br>
        Nous avons créé un conteneur avec l'option --detach  , et nous aurons donc sûrement besoin de l'arrêter !<br>
        Pour cela, nous pouvons faire appel à la commande <code>docker stop ID_RETOURNÉ_LORS_DU_DOCKER_RUN</code></p>
        <p>A ce propos, quelques commandes docker.</p>
        <h4>Commandes Docker de base:</h4>
        <p>Affichage des images: <code>docker images</code> ou <code>docker image -a</code>.<br>
           Affichage des containers utilisés: <code>docker ps</code>.<br>
           Affichage de tous le containers: <code>docker ps -a</code>.<br>
           Suppression container: <code>docker rm id_container</code>.<br>
           Suppression d'une image:  <code>docker rmi id_image</code> ou <code>nom de l'image</code>.<br>
           (Les premiers caractères de l'id suffisent. ex: <code>rm a0f</code> si id unique.)<br>
           <code>docker prune</code> : Cette commande va supprimer les données suivantes :<br>
           - l'ensemble des conteneurs Docker qui ne sont pas en status running ;<br>
           - l'ensemble des réseaux créés par Docker qui ne sont pas utilisés par au moins un conteneur ;<br>
           - l'ensemble des images Docker non utilisées ;<br>
           - l'ensemble des caches utilisés pour la création d'images Docker.
        </p>
        <h4>Enfin partager l'image sur un registry Docker: </h4>
        <p>Pour cela il faut créer notre image sur le Docker Hub (https://hub.docker.com/),<br>
           la publier, et ainsi la rendre accessible à la communauté.<br>
           La commande à utiliser: <br>
           <code>docker tag ocr-docker-build:latest YOUR_USERNAME/oc-lettings-site-build:latest</code><br>
           Cette commande va créer un lien entre notre image ocr-docker-build créée précédemment,
           et l'image que nous voulons envoyer sur le Docker Hub YOUR_USERNAME/ocr-docker-build:latest
        </p>
        <p>les dernières commandes nécessaires pour envoyer l'image vers le Docker Hub seront: <br>
           <code>docker login</code><br>
            En fonction de votre système d'exploitation comme par exemple windows faire précéder de winpty les commandes.
           <code>docker push YOUR_USERNAME/ocr-docker-build:tagname (ici: latest)</code></p>



    <h4>Whitenoise</h4>
        <p>Installation de whitenoise avec pip qui permet à python d'implémenter les fichiers statiques.<br>
        "whitenoise.middleware.WhiteNoiseMiddleware" doit être rajouté dans settings rubrique [MIDDLEWARE].</p>

    <div>
        <h4>Render</h4>
        <p>Enregistrement et connexion sur Render</p>
        <p>Cliquer sur new (button) puis, choisir webservice, existing image<br>
            (l'image sur docker.io à choisir(ex: lou57810/oc-lettings-site-build),<br>
            laisser crédential blanc et appuyer sur connect. Renseigner nom, région, type de contrat(Ici Free),<br>
            et la variable d'environnement: SECRET_KEY (Celle définie par django ou nous-même). Cliquer ensuite<br>
            sur le bouton Deploywebservices</p>
    </div>
        <div>
            <h4>Circleci</h4>
            <p>Le problème est qu'à chaque fois que l'on modifie le code source, il faudra reprendre toutes ces opérations.<br>
            Circleci en étant connecté à github va nous permettre d'éviter toutes ces opérations qu'il va automatiser. </p>
            <h6>Orbs</h6>
            <h4>Orbs</h4>
            <p>Les orbes sont des extraits partageables de YAML, disponibles sur Docker Hub,
               qui peuvent être utilisés pour simplifier les builds CircleCi,
               et éffectuer des déploiements.</p>
            <h4>Renseigner circleci project settings</h4>
                <img src="{% static 'img11/circle_ci_env_variables.png' %}" alt="Image circleci_var_env" width="50%">
               <p>Récuperer l'url deploy_hook dans render settings et l'ajouter dans la variable d'environnement<br>
                  DEPLOY_HOOK dans  circleci Project settings.'</p>
               <p>D'aurtres variables sont à renseigner:<br>
               DEBUG = False (On est en production)<br>
               DOCKER_HUB_PASSWORD<br>
               DOCKER_USER_ID<br>
               SECRET_KEY (Défini dans .env) <br>
               dsn (Défini dans .env) </p>
               <p>
        </div>
    </div>


</section>
{% endblock content %}

<!--
<div class="paginator">
    <span>
        {% if page_post.has_previous %}
            <a href="?page=1">&laquo; première</a>
            <a href="?page={{ page_post.previous_page_number }}"><button>précédente</button></a>
        {% endif %}

        <span>Page {{ page_post.number }} sur {{ page_post.paginator.num_pages }}.</span>

        {% if page_post.has_next %}
            <a href="?page={{ page_post.next_page_number }}"><button>suivante</button></a>
            <a href="?page={{ page_post.paginator.num_pages }}"><button>dernière &raquo;</button></a>
        {% endif %}
    </span>
</div>-->

