{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->

<section class="py-5 bg-light">
    <img class="img-fluid" alt="100%x280" src="{% static 'img11/banner.png' %}">
    <h1 class="text-center">Projet 11</h1>
    <div class="article">
        <div class="container">
            <h3>Rappel des objectif:</h3>
                <h5>En tant que développeur Python dans ce projet, vous utiliserez des outils comme :
                    Sentry pour surveiller l'application et détecter rapidement les erreurs ;
                    Read The Docs pour documenter l'utilisation de l'application ;
                    Github, Github compose, GitHub Actions ou GitLab pour les pipelines CI/CD
                    qui automatisent les tests et le déploiement.
                    Vous allez ajouter une démarche essentielle :
                    la factorisation d’une application existante pour améliorer sa maintenabilité, sa performance et sa scalabilité.
                    Vous identifierez et corrigerez les points faibles du code pour en améliorer la performance.
                </h5>
            <h4>Les Etapes</h4>
                <h6>Documenter une application<br>
                    Mettre en place un système de contrôle des codes en utilisant Sentry<br>
                    Deployer une application<br>
                    Gèrer la production de code en utilisant la méthodologie CI/CD<br>
                    Refactoriser une application pour réduire la dette technique<br>
                    Appliquer une architecture modulaire dans une application Python
                </h6>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <p>Dans ce projet, il est avisé d'utiliser github comme VCS(Version Control System),
           conjointement avec docker, circleci, ainsi que gunicorn et render.
           Celà nécéssite l'installation de docker, puis la création d'un fichier Dockefile.
           Ensuite il faudra s'engeristrer sur Circleci et créer un fichier config.yml.
           Il sera également nécéssaire de s'enregistrer sur Render et paramètrer Render pour diffuser le déploiement de
           notre application.
           Le principe est d'utiliser une plateforme d'intégration continue pour mettre en oeuvre les pratiques DevOps.
           Pour ce projet, comme indiqué dans les requis nous utilisons CircleCi,
           plateforme CI/CD d'intégration continue et de livraison continue.
           CircleCI surveille les référentiels GitHub, et d'autres, et lance des builds pour chaque nouveau commit.
           CircleCi teste automatiquement les builds dans les conteneurs Docker ou les machines virtuelles, et déploie les
           builds de passage vers les environnements cibles. Un tableau de bord et une API permettent de suivre l'état des builds
           et les métriques liées aux builds. Au besoin, une intégration Slack informe les équipes en cas de problèmes.
        </p>
        <p>La prise en charge de SSH permet d'exécuter des tâches localement, et des mesures de sécurité empêchent la falsification.
           CircleCi propose également une fonction d'approbation du flux de travail, qui met en pause le(s) jusqu'à ce qu'une
           approbation manuelle soit donnée.
        </p>
    </div>
</section>
<section>
    <div class="container">
        <h2>Docker</h2>
        <h4>Un conteneur Linux est un processus ou un ensemble de processus isolés du reste du système, tout en étants légers.</h4>
        <p>Il ne crée qu'une isolation des processus, et partage les ressources avec le système hôte.<br>
           En pratique le processus n'utilisera que la RAM nécéssaire laissant le reste disponible pour d'autres processus.<br>
           Les conteneurs étant légers et rapides au démarrage, il permettent de créer des environnements dynamiques et ainsi répondre à des besoins métiers.</p>
        <p>Docker a été créé pour répondre à des besoins de PaaS (Platform as a Service)</p>
        <img class="img-fluid" alt="100%x280" src="{% static 'img11/vm-vs-conteneur_small.png' %}">
        <p>Docker Hub est un service fourni par Docker Inc ; vous pouvez le comparer à GitHub,
           mais spécialisé dans le stockage d'image pour Docker.</p>
        <h4>Orbs</h4>
        <p>Les orbes sont des extraits partageables de YAML, disponibles sur Docker Hub,
           qui peuvent être utilisés pour simplifier les builds CircleCi,
           et éffectuer des déploiements.
        <h2>Création du Dockerfile</h2>
        <p>Dockerfile doit être créé dans la racine du projet.
           C'est un document texte, utilisé pour la création d'une image conteneur(container).</p>
           <img class="img-fluid" alt="dockerfile" src="{% static 'img11/docker_file.png' %}">
           <img class="img-fluid" alt="dockerfile" src="{% static 'img11/doc_file.png' %}">
    </div>
</section>
{% endblock content %}
<!--
<div class="paginator">
    <span>
        {% if page_post.has_previous %}
            <a href="?page=1">&laquo; première</a>
            <a href="?page={{ page_post.previous_page_number }}"><button>précédente</button></a>
        {% endif %}

        <span>Page {{ page_post.number }} sur {{ page_post.paginator.num_pages }}.</span>

        {% if page_post.has_next %}
            <a href="?page={{ page_post.next_page_number }}"><button>suivante</button></a>
            <a href="?page={{ page_post.paginator.num_pages }}"><button>dernière &raquo;</button></a>
        {% endif %}
    </span>
</div>-->

