{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <div="header">
            <header_title>
               <img class="img-fluid" alt="100%x280" src="{% static 'img1/logo3.png'' %}" id='logo'>
               <h1><h1>En construction</h1></h1>
            </header_title>
            <banner>
                <img class="img-fluid" alt="100%x280" src="{% static 'img1/banner.png'' %}">
            </banner>
        </div>
    </section>
</div>