{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <div class="header">
            <div class="header_title">
               <img class="img-fluid" alt="100%x280" src="{% static 'img15/c_icon.jpg' %}" id='logo'>
               <h1><h1>En construction</h1></h1>
            </div>
            <div class="banner">
                <img class="img-fluid" alt="100%x280" src="{% static 'img15/banner.png'' %}">
            </div>
        </div>
    </section>
</div>
{% endblock content %}