{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <div class="header">
            <div class="header_title">
               <img class="img-fluid" alt="100%x280" src="{% static 'img_home/img18.jpg' %}" id='logo'>
               <h1>PhotoStock</h1><br><br>
            </div>
            <div class="banner">
                <img class="img-fluid" alt="100%x280" src="{% static 'img_home/img18.jpg'' %}">
            </div>
        </div>
    </section>
</div>
<div class="container">
    <h1>Essai site évaluation vieux appareils photos sur site fictif PhotoStock</h1>
</div>
<div class="container">
    <p>- Consultation du commanditaire<br>
       - User Cases (app responsive)<br>
       - Wireframes (Figma)
       - Création Api<br>
       - Backend
       - Frontend
       - Tests Api (Postman)
    </p>
</div>
{% endblock content %}