{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <div class="header">
            <header_title>
               <img class="img-fluid" alt="100%x280" src="{% static 'img2/logo.png' %}" id='logo'>
                <h1>CodeIguanas</h1>
               <h1>Designez une application Python adaptée aux besoins d'un client</h1>
            </header_title><br><br>
            <banner>
                <img class="img-fluid" alt="100%x280" src="{% static 'img2/banner2.png' %}">
            </banner>
        </div>
    </section>
</div>
<div class="container">
    <section class="py-5 bg-light">
     <h3>Objectifs du projet</h3><br>
        <hr>
        <p>Vous êtes employé chez CodeIguanas,<br>
        une entreprise de services du numérique qui comporte des entités de développement d’applications mobiles et de sites web.<br>
        Vous êtes le lead développeur d’une équipe dans l’entité Web.</p>
        <div class="article">
            
        <p>Notre première étape est de bien définir les besoins client, avant de démarrer le développement logiciel. Tu devras livrer les éléments suivants  :

        Un cahier des charges contenant :
            Une liste des spécifications fonctionnelles, présentant ce que le produit va réaliser ;
            Une veille technologique justifiant les choix technologiques retenus dans la spécification technique ;
            Une liste des spécifications techniques, présentant les technologies utilisées et comment la technique répond aux besoins du client ;
            Un diagramme de classes utilisant la nomenclature UML.
        Un Backlog Produit qui contient toutes les tâches liées aux fonctionnalités et incluant :
            Des user stories avec critère(s) d’acceptation ;
            Les user stories doivent être priorisées ;
            Une estimation en temps de réalisation.</p>
        <hr>
    </section>
</div>
        </div>
<div class="container">
    <section class="py-5 bg-light">
    <p>Au Sommaire:</p>
    <p>- Initiez vous à la gestion de projets agile<br>
    - Devenez développer agile<br>
    - Appliquez le principe du Domain-Driver Design à votre application<br>
    - Developpez votre sens du Service<br>
    </section>
    <hr>
</div>
<div class="container">
    <h4>Initiez vous à la gestion de projets agile</h4>
        <p>
        - Découvrez l'importance de l'esprit d'équipe en gestion de projet agile<br>
        - Formez votre équipe<br>
        - Lancez votre travail en équipe<br>
        - Régularisez le travail de votre équipe<br>
        - Performez en équipe</p>
        <p>
        - Colletez les besoins<br>
        - Cartographier le projet<br>
        - Menez des entretiens<br>
        - Créez des personas<br>
        - Résumez l'UX du projet en créant des story-boards</p>
        <p>- Inspèctez les User Stories<br>
        - Evalues le Product Backlog<br>
        - Estimez la complexité d'un projet<br>
        - Utilisez la méthode Kanban<br>
        - Evitez les gaspillages grâce au Lean</p>
    <h4>Devenez développer agile</h4>
        <p>
        - Cernez les enjeux d'une appication Agile<br>
        - Découvrez les membres de votre équipe</p>
        <p>
        - Préparez votre Sprint<br>
        - Développez en mode Agile<br>
        - Faites le bilan du Sprint et itérez</p>
    <h4>Appliquez le principe du Domain-Driven Design à votre application</h4>
        <p>
        - Résolvez des problèmes de conception avec les modèles de domaines<br>
        - Exploitez l'approche du Domain-Driven Design pour construire votre modèle<br>
        - Identifiez les objectifs de votre application avec l'Event Storming<br>
        - Identifiez les acteurs, les cas d'usage et les entités du modèle de votre client</p>
        <p>
        - Formalisez votre modèle de domaine avec un diagramme de cas d'utilisation<br>
        - Définissez un glossaire commun à partir d'un diagramme de classes<br>
        - Adaptez votre diagramme aux changements de besoins de votre client<br>
        - Implémentez votre modèle de domaine</p>
    <h4>Developpez votre sens du Service</h4>
        <p>
        - Découvrez l’intérêt de développer votre sens du service<br>
        - Adaptez vos postures<br>
        - Ecoutez sincèrement<br>
        - Developpez votre curiosité</p>
        <p>
        - Personnalisez vos relations par niveau d'intimité<br>
        - Personnalisez vos relations par typologie de comportement<br>
        - Personnalisez vos relations par motivations personnelles</p>
        <p>
        _ Appréhendez les objections de vos interlocuteurs<br>
        - Donnez des feedbacks… et recevez-en en retour !<br>
        - (Re)Posez un cadre de fonctionnement</p>


</div>

    </section>
</div>

{% endblock content %}