{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <div class="header">
            <div class="header_title">
               <img class="img-fluid" alt="100%x280" src="{% static 'img12/c_icon.jpg' %}" id='logo'>
               <h1>En construction</h1>
            </div>
            <div class="banner">
                <img class="img-fluid" alt="100%x280" src="{% static 'img12/banner.png'' %}">
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section class="py-5 bg-light">        
        <div class="article">
        <h2>Maîtriser le langage Python</h2>

        <h5>Les décorateurs</h5>
            <p>En plus de Python de base, vous devez également être conscient de ce concept plus avancé en Python.</p>
            <p>Les fonctions, et à peu près tout le reste en Python, sont des objets comme int or string.</p>
            <p>Parce qu'ils sont des objets, vous pouvez faire plusieurs choses avec eux, à savoir :</p>
            <p>Vous pouvez passer une fonction comme argument à une autre fonction de la même manière que vous passez un string or int comme argument de la fonction.</p>
            <p>Les fonctions peuvent également être renvoyées par d'autres fonctions comme vous renverriez d'autres string or int valeurs.</p>
            <p>Les fonctions peuvent être stockées dans des variables.</p>
            <p>En fait, la seule différence entre les objets fonctionnels et les autres objets est que les objets fonctionnels contiennent la méthode magique __call__().</p>
            <p>Un décorateur Python est simplement une fonction qui prend une fonction en argument et renvoie une version modifiée de la fonction qui a été transmise.</p>

        </div>
    </section>
</div>

{% endblock content %}