{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <img class="img-fluid" alt="100%x280" src="{% static 'img5/logo.png'' %}">
        <p>Tu es Page 5 flow</p>
        <div class="article">

        <h2>L’association JustStreamIt est connue pour ses newsletters de classement de films.
            Pour monter en croissance, l’association souhaite se doter d’une application web
            permettant de visualiser en temps réel un classement de films intéressants.
            Le problème est que pour cela il faut un développeur web,
            et l’association n’en a pas… Elle poste donc une annonce.</h2>

        </div>
    </section>
</div>

{% endblock content %}