{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <div class="header">
            <div class="header_title">

               <h1>JustStreamIt</h1>
                <img class="img-fluid" alt="100%x280" src="{% static 'img5/logo.png'' %}">
               <h2>Développez une interface utilisateur pour une application web Python</h2>
            </div><br><br>
            <banner>
                <img class="img-fluid" alt="100%x280" src="{% static 'img5/stream.jpg' %}">
            </banner>
        </div>
    </section>
</div>

<div class="container">
    <section class="py-5 bg-light">
        <h4>L'exercice suivant va permettre de mettre en situation les éléments suivants:</h4>
            <p>- Accès au code d'une API.<br>
            - Analyser une Url et accès aux réponses des requêtes.<br>
            - Utiliser des outils, pour créer des requêtes Http.<br>
            - Mettre en place une page Web au format Html5, avec également Css.<br>
            - Maitriser les fondamentaux de JavaScript.<br>
            - Implémenter un design responsive avec css.<br>
            - Mise en place d'un carrousel et de fenêtres modales.<br>
            </p>
    </section>
<hr>
</div>
<div class="container">
    <section class="py-5 bg-light">
        <h2>API</h2>
        <p>Un moyen de communication entre deux logiciels, que ce soit entre différents composants d’une application<br>
            ou entre deux applications différentes. C’est une abstraction :<br>
            Une façade qui simplifie des mécanismes complexes permettant de fournir un service demandé.</p>

        <p>Un service web permet de manipuler les données qu’il expose à travers son API en ligne.<br>
            Il peut les créer, les récupérer, les mettre à jour et les supprimer.<br>
            Réspectivement: 'POST', 'GET', 'PUT', 'DELETE'.
            Ces quatre opérations permettent de persister vos données, c’est-à-dire de les stocker durablement.<br>
            Ainsi, lorsque une application web communique avec le service web,<br>
            ces manipulations sont sauvegardées jusqu’à la prochaine utilisation.</p>
        <p>On parle d’API HTTP lorsqu’un service web offre une façade à travers le protocole HTTP.<br>
        Le serveur web munis de son url, est un programme informatique qui met les services web<br>
            à disposition des autres programmes.<br>
        Le navigateur et le serveur doivent donc communiquer entre eux grâce au protocole HTTP.<br>
        Le navigateur web utilise le protocole HTTP pour envoyer des requêtes à destination du serveur.</p>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/http1.png'' %}"><br>

        <p>IMBD</p>
    </section>
</div>
<hr>
<div class="container">
    <section class="py-5 bg-light">
        <h2>Url et requêtes</h2>
        <p>Initialisation et lancement d'une requête</p>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/fetch1.png'' %}"><br>
        <p>Accès datas:</p>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/fetch2.png'' %}">
    </section>
</div>
<hr>
<div class="container">
    <section class="py-5 bg-light">
        <h2>Outils, pour créer des requêtes Http</h2>
        <p>Exemple Entète html<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/java1.png'' %}"><br>
        Exemple Script:<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/java2.png'' %}"></p>
    </section>
</div>
<hr>
<div class="container">
    <section class="py-5 bg-light">
        <h2>DOM: Mettre en place une page Web au format Html5</h2>
        <p>Le DOM structure les éléments sous forme d’arbre<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/dom1.png'' %}"><br>
        Exemple Balises:<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/dom2.png'' %}">
    </section>
</div>
<hr>
<div class="container">
    <section class="py-5 bg-light">
        <h2>JavaScript</h2>
        <p>Prototype fonction<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/js1.png'' %}"><br>
        Exemple Script:<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/js2.png'' %}"></p>
    </section>
</div>
<hr>
<div class="container">
    <section class="py-5 bg-light">
        <h2>Responsive Design</h2>
        <p>Exemple Entète html<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/bts1.png'' %}"><br>
        Exemple Script:<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/bts2.png'' %}"></p>
    </section>
</div>
<hr>
<div class="container">
    <section class="py-5 bg-light">
        <h2>Carrousel</h2>
        <p>Implémentation js<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/caro1.png'' %}"><br>
        Lancement carroussel:<br>
        <img class="mx-auto d-block" alt="100%x280" src="{% static 'img5/caro2.png'' %}"></p>
    </section>
</div>
{% endblock content %}