{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <div class="header">
            <div class="header_title">

               <h1>JustStreamIt</h1>
                <img class="img-fluid" alt="100%x280" src="{% static 'img5/logo.png'' %}">
               <h2>Développez une interface utilisateur pour une application web Python</h2>
            </div><br><br>
            <banner>
                <img class="img-fluid" alt="100%x280" src="{% static 'img5/stream.jpg' %}">
            </banner>
        </div>
    </section>
</div>

<div class="container">
    <section class="py-5 bg-light">
        <h4>L'exercice suivant va permettre de mettre en situation les éléments suivants:</h4>
            <p>- Accès au code d'une API.<br>
            - Analyser une Url et accès aux réponses des requêtes.<br>
            - Utiliser des outils, pour créer des requêtes Http.<br>
            - Mettre en place une page Web au format Html5, avec également Css.<br>
            - Maitriser les fondamentaux de JavaScript.<br>
            - Implémenter un design responsive avec css.<br>
            - Mise en place d'un carrousel et de fenêtres modales.<br>
            </p>
    </section>
</div>
{% endblock content %}