{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <img class="img-fluid" alt="100%x280" src="{% static 'img6/logo.png'' %}">
        <p>Tu es Page 6 flow</p>
        <div class="article">
        <h2>Vous venez de rejoindre AlgoInvest&Trade, une société financière spécialisée dans l'investissement.
            La société cherche à optimiser ses stratégies d'investissement à l'aide d'algorithmes,
            afin de dégager davantage de bénéfices pour ses clients.</h2>

        </div>
    </section>
</div>

{% endblock content %}