{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <div class="header">
            <div class="header_title">
               <img class="img-fluid" alt="100%x280" src="{% static 'img8/logo.png'' %}" id="logo"><br><br>
               <h1>SoftDesk</h1>
               <h2>Créez une API sécurisée RESTful en utilisant Django REST</h2>
            </div><br><br>
            <div class="banner">
                <img class="img-fluid" alt="100%x280" src="{% static 'img8/banner.png'' %}">
            </div>
        </div>
    </section>
</div>

<div class="container">
    <section class="py-5 bg-light">
        <div class="article">
            <h3>La Mission</h3><br>
            Créer un back-end performant et sécurisé, devant servir des applications front-end sur différentes plateformes.<br>
            Développer une API RESTful.<br>
            Django Rest Framework est une surcouche à Django et permet entre autres d’automatiser la gestion CRUD<br>
            (Create, Read, Update, Delete) des modèles sous forme d’API.
        </div>
    </section>
</div>

<div class="container">
    <section class="py-5 bg-light">
        <div class="article">
            <h4></h4>
        </div>
    </section>
</div>

{% endblock content %}