{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->

<section class="py-5 bg-light">
    <img class="img-fluid" alt="100%x280" src="{% static 'img8/banner.png'' %}">
    <p>Tu es Page 8 flow</p>
    <div class="article">
    <h2>SoftDesk, une société d'édition de logiciels de collaboration,
        a décidé de publier une application permettant de remonter et suivre des problèmes techniques.
        Cette solution, SoftDesk Support, s’adresse à des entreprises en B2B (Business to Business).
    SoftDesk a mis en place une nouvelle équipe chargée de ce projet
        et vous avez été embauché comme ingénieur logiciel pour créer un back-end performant et sécurisé,
        devant servir des applications front-end sur différentes plateformes.
        Il faut alors trouver un moyen standard de traiter les données,
        ce qui peut se faire en développant une API RESTful. </h2>

    </div>
</section>

{% endblock content %}