{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->
<div class="container">
    <section class="py-5 bg-light">
        <img class="img-fluid" alt="100%x280" src="{% static 'img9/logo.png'' %}">
        <p>Tu es Page 9 flow</p>
        <div class="article">
        <h2>Dans ce projet, votre mission consiste à améliorer une application Web développée avec le microframework Flask.
            Vous devez déboguer le code et gérer les erreurs et exceptions en Python.
            Vous allez découvrir et adopter la méthode TDD (Test-Driven Development),
            où le développement se fait de manière itérative en alternant entre l’écriture des tests et du code.

    Vous développerez également une suite de tests Python avec pytest et
            des tests automatisés avec Selenium pour vous assurer que le code est intégralement couvert
            par les tests et qu'il est de bonne qualité. </h2>

        </div>
    </section>
</div>
{% endblock content %}