{% extends 'base.html' %}
{% block content %}

<div class='container'>
    <section class="py-5 bg-light">
        <h2>Télécharger une photo</h2>
        <form method="post" enctype="multipart/form-data">
            {{ photo_form.as_p }}
            {% csrf_token %}
            <button type="submit" >Publier</button>
        </form>
    </section>
    <section class="py-5 bg-light">
        {% for photo in photos %}
            <img src="{{ photo.image.url }}"
            <p>{{ photo.caption }}</p>
        {% endfor %}
    </section>
</div>
{% endblock content %}
