{% extends 'base.html' %}
{% block content %}
<section class="py-5 bg-light">
    <div class="container">    

    <section class="py-5">
    <div class="container">
        <a href="{% url 'todo-create' %}"><button type="button" class="btn btn-success">Ajout Todo</button></a>
    </div><br>
    <div class="container">
        {% for item in todo_items %}
            <li>
                <span  style="display:inline-block; width:150px;" > {{ item.TODO }} :</span>
                <a href="{% url 'todo-create' id_item=item.id %}"><button type="button" class="btn btn-warning">Modifier</button></a> &emsp;
                <a href="{% url 'todo-delete' id_item=item.id %}"><button type="button" class="btn btn-danger">Supprimer</button></a>
            </li><br>
        {% endfor %}
    </div>
    <br>
    <div class="container">
        <a href="{% url 'todo-create' %}"><button type="button" class="btn btn-success">Ajout Todo</button></a>
    </div>
</section>


{% endblock content %}
