{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->

<section class="py-5 bg-light">
    <div class="container">
        <div class="article">
            <h2>Todo:</h2>
            <h4> - Révision cours</h4>
            <h4> - Markdown</h4>
            <h4> - Projet13 args</h4>
            <h4> - parametrage admin</h4>
            <h4> - sécuriser avec .env, settings.py</h4>
            <h4> - Mettre en place des liens sur articles vs/path('article/\<\int:article_id>', views.article, name='article')</h4>
        </div>
    </div>
</section>

{% endblock content %}