{% load webapp_extras %}

<div class="article_review">

    {% if post.user.id == user.id %}
        {% get_review_display review.user %}  avez publié une critique :
        <p><small>{{ post.time_created }}</small></p>
    {% else %}
        {{ post.user.username }} posted a review.
        <p><small>{{ post.time_created }}</small></p>
    {% endif %}
    <!----------------------------------------------------------------->
     <p>{{ post.headline }}

     <p class="rating">
         {% if post.rating == 1 %}    &#9733 &#9734 &#9734 &#9734 &#9734
         {% elif post.rating == 2 %}  &#9733 &#9733 &#9734 &#9734 &#9734
         {% elif post.rating == 3 %}  &#9733 &#9733 &#9733 &#9734 &#9734
         {% elif post.rating == 4 %}  &#9733 &#9733 &#9733 &#9733 &#9734
         {% elif post.rating == 5 %}  &#9733 &#9733 &#9733 &#9733 &#9733
         {% endif %}
     </p>
    {{ post.body }}
    {% if user != ticket.user %}

        <div class='inside_review'>
            <p>{% if post.ticket.user.id == user.id %}
                     Ticket - {% get_review_display review.user %}
                {% else %}
                    Ticket - {{ post.ticket.user.username }}
                {% endif %}</p>
                <!--<p><small>{#{ post.time_created }}</small></p>-->
            <div class="front_img">
                {% if post.ticket.image.url is not None %}
                    <img src="{{ post.ticket.image.url }}">
                {% endif %}
            </div>
            <small>{{ post.time_created }}</small>
            <p>{{ post.ticket.title }}</p>
            <p>{{ post.ticket.description }}</p>
            <!-- si l'auteur local ou si l'auteur distant sont à l'origine à la fois du ticket et de la critique,
             alors on affiche le bouton, sinon la critique est réalisée et ne doit
             pas être refaite.-->
             {% if user == post.ticket.user.username or review.user.username == post.ticket.user.username %}
             <a href="{% url 'response-reviews' ticket_id=post.id %}">
             <button class="btn btn-outline-secondary">Créer une critique</button></a>
             {% endif %} </p>
        </div>
    {% endif %}

</div>