{% extends 'base.html' %}
{% block content %}
{% load static %}


<section class="py-5">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-12 col-md-6">
                <h1>Memento</h1>
                {% if item_form.instance.id %}
                <form method="POST" action="{% url 'memento_create' id_item=item_form.instance.id %}">

                {% else %}
                    <form method="POST" action="{% url 'memento_create' %}">

                {% endif %}
                    {{ item_form.as_p }}
                    {% csrf_token %}

                    <button type="submit" >Publier</button>
                    </form></form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}