{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->

<section class="py-5 bg-light">
    <p>Tu es Page 1 flow</p>
    <img class="img-fluid" alt="100%x280" src="{% static 'img1/header.png'' %}">
    <img class="img-fluid" alt="100%x280" src="{% static 'img1/logo.png'' %}">
    <div class="article">
    <h4>Vous êtes analyste marketing chez Books Online, une importante librairie
        en ligne spécialisée dans les livres d'occasion. Dans le cadre de vos fonctions,
        vous essayez de suivre manuellement les prix des livres d'occasion sur les sites web de vos concurrents.
        Cela représente trop de travail et vous n'arrivez pas à y faire face :
        il y a trop de livres et trop de librairies en ligne !

Vous et votre équipe avez décidé d'automatiser cette tâche laborieuse via un programme (un scraper) développé en Python,
        capable d'extraire les informations tarifaires d'autres librairies en ligne.</h4>
        <p> L'objectif est de développer une version bêta de ce système pour suivre les prix des livres
            chez Books to Scrape, un revendeur de livres en ligne.</p>
<h3>Git:</h3>
        <p>VCS: Version Control System</p>
    </div>
</section>

{% endblock content %}